PORT=3000
NODE_ENV=development
MSSV=23IT102
FULL_NAME=Le Nhat Huy
CLASS_NAME=23SE2
MONGODB_READ_URI=mongodb+srv://read_23IT102:PASSWORD@cluster0.2hxjwd.mongodb.net/DB_23IT102
MONGODB_WRITE_URI=mongodb+srv://write_23IT102:PASSWORD@cluster0.2hxjwd.mongodb.net/DB_23IT102
MONGODB_SESSION_URI=mongodb+srv://session_23IT102:PASSWORD@cluster0.2hxjwd.mongodb.net/DB_23IT102
SESSION_SECRET=replace-with-a-long-random-secret
